Binaries/*
DerivedDataCache/*
Intermediate/*
Saved/*
*.suo
*.sln
*.sdf
*.opensdf
*.opendb
Saved/*
*.r16
*.ter
*.VC.db
Build/*NoEditor
.vs

!Screenshots
!Build/Windows/Application.ico
